@page
@model FixtureManager.Pages.Teams.DetailsModel

@{ ViewData["Title"] = "Team Details";
}

<h2>Team Details</h2>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.AgeGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.AgeGroup) (@Html.DisplayFor(model => model.Team.TeamSize))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.League)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Team.FixtureURL.Length > 0)
            {
                <a href="@Model.Team.FixtureURL"> @Html.DisplayFor(model => model.Team.League) - @Html.DisplayFor(model => model.Team.Division) </a> }
            else
            {
                <div>@Html.DisplayFor(model => model.Team.League) - @Html.DisplayFor(model => model.Team.Division)</div>
            }
        </dd>
        @foreach (var item in Model.Team.Contacts)
        {
            <dt class="col-sm-2">
                @item.ContactType
            </dt>
            @if (User.Identity.IsAuthenticated)
            {
                <dd class="col-sm-10">
                    @item.Person.FullName
                    (<a href="mailto:@item.Person.Email">@item.Person.Email</a>)
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @item.Person.FullName
                </dd>
            }
        }
        <dt class="col-sm-2">
            Summary
        </dt>
        <dd class="col-sm-10">
            Total: @Html.DisplayFor(model => model.Total)
            Home: @Html.DisplayFor(model => model.Home)
            Away: @Html.DisplayFor(model => model.Away)
        </dd>

    </dl>
   

       <table class="table table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].IsHome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].Opponent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].FixtureType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].FixtureAllocation.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].FixtureAllocation.End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.Fixtures[0].FixtureAllocation.Pitch)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Fixtures)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IsHome)
                </td>
                <td>
                    <a asp-page="../Fixtures/Edit" asp-route-id="@item.Id" asp-route-teamId="@item.TeamId">@item.Opponent</a>
                    @*@Html.DisplayFor(model => item.Opponent)*@
                </td>
                <td>
                    @Html.DisplayFor(model => item.FixtureType)
                </td>
                <td>
                    @if (item.FixtureAllocation != null)
                    {
                        @if (item.FixtureAllocation.IsConfirmed || User.Identity.IsAuthenticated) {
                            @Html.DisplayFor(model => item.FixtureAllocation.Start)
                        }
                    }
                </td>
                <td>
                    @if (item.FixtureAllocation != null)
                    {
                        @if (item.FixtureAllocation.IsConfirmed || User.Identity.IsAuthenticated) {
                            @Html.DisplayFor(model => item.FixtureAllocation.End)
                        }
                    }
                </td>
                <td>
                    @if (item.FixtureAllocation != null)
                    {
                        @if (item.FixtureAllocation.IsConfirmed || User.Identity.IsAuthenticated) {
                            @Html.DisplayFor(model => item.FixtureAllocation.Pitch.Name)
                        }
                    }
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>*@
                        <a asp-page="../Fixtures/Edit" asp-route-id="@item.Id"  asp-route-teamId="@item.TeamId"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="../Fixtures/Delete" asp-route-id="@item.Id" asp-route-teamId="@item.TeamId"><i class="bi bi-trash"></i></a>
               
                        @if (item.CanAllocate && item.FixtureAllocation == null)
                        {
                            <a asp-page="../FixtureAllocations/Create" asp-route-fixtureid="@item.Id"><i class="bi bi-clock"></i></a>
                        }
                        else if (item.CanAllocate && item.FixtureAllocation != null)
                        {
                             <a asp-page="../FixtureAllocations/Edit" asp-route-id="@item.FixtureAllocation.Id"><i class="bi bi-clock"></i></a>
                        }
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (User.Identity.IsAuthenticated)
{
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Team.Id">Edit</a> |
    <a asp-page="../Fixtures/Create" asp-route-teamId="@Model.Team.Id">Create Fixture</a> |
    <a asp-page="../Fixtures/CreateBulk" asp-route-teamId="@Model.Team.Id">Create Multiple</a> |
    <a asp-page="../Fixtures/Download" asp-route-id="@Model.Team.Id">Download Fixtures</a> |
    <a asp-page="../Fixtures/DeleteDixtures" asp-route-id="@Model.Team.Id">Delete All Fixtures</a> |
    <a asp-page="./Index">Back to List</a>
</div>
}
else
{
<div>
    <a asp-page="./Index">Back to List</a>
</div>
}