@page
@model FixtureManager.Pages.Fixtures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fixture.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fixture.Team.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fixture.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fixture.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fixture.IsHome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fixture.IsHome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fixture.Opponent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fixture.Opponent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fixture.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
