@page
@model FixtureManager.Pages.Fixtures.IndexModel

@{ ViewData["Title"] = "Fixtures"; }

<h2>Fixtures</h2>

<p>
    @if (Model.Debug)
    {
    <a asp-page="Create">Create New</a>
    }
</p>

<form asp-page="./Index" method="get">
    <div class="form-group form-group-sm">
        <div class="row">
            <div class="col-md-auto">
                <label>Start</label>
                <input asp-for="StartDateFilter" class="form-control-sm" />
            </div>
            <div class="col-md-auto">
                <label>End</label>
                <input asp-for="EndDateFilter" class="form-control-sm" />
            </div>
            <div class="col-md-auto">
                <div class="form-group form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IncludeHomeFilter" />Home
                    </label>
                </div>
                <div class="form-group form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IncludeAwayFilter" />Away
                    </label>
                </div>
            </div>
                <div class="col-md-auto">
                    <input type="submit" value="Filter" class="btn btn-primary" /> |
                    <a asp-page="./Index">Reset</a>
                </div>
            </div>
        </div>
</form>


<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Team)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Fixture[0].IsHome)*@
                H/A
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].FixtureType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].FixtureAllocation.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].FixtureAllocation.Pitch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].FixtureAllocation.Referee)
            </th>
            @if (Model.Debug)
            {
            <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Fixture)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Team.DisplayName)*@
                <a asp-page="/Teams/Details" asp-route-id="@item.Team.Id">@item.Team.DisplayName</a>
            </td>

            <td>
                @*@Html.DisplayFor(modelItem => item.IsHome)*@
                @(item.IsHome ? "H" : "A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureType)
            </td>
            <td>
                @if (item.FixtureAllocation != null)
                {
                    <a asp-page="../FixtureAllocations/Edit" asp-route-id="@item.FixtureAllocation.Id">
                        @Html.DisplayFor(modelItem => item.FixtureAllocation.Start)
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureAllocation.Pitch.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureAllocation.Referee.FullName)
            </td>
            @if (Model.Debug)
            {
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>*@
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                |
                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                @(item.IsHome ? "|" : "")
                @if (item.IsHome && item.FixtureAllocation == null)
                {
                    <a asp-page="../FixtureAllocations/Create" asp-route-fixtureid="@item.Id"><i class="bi bi-clock"></i></a>
                }
                else if (item.IsHome && item.FixtureAllocation != null)
                {
                     <a asp-page="../FixtureAllocations/Edit" asp-route-id="@item.FixtureAllocation.Id"><i class="bi bi-clock"></i></a>
                }
            </td>
            }
        </tr>
        }
    </tbody>
</table>
