@page
@model FixtureManager.Pages.People.IndexModel

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="Create">Create New</a><text> | </text> 
    }
    <a href="mailto:@Model.EmailAll">Email All</a>
</p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].LastName)
            </th>
        @if (User.Identity.IsAuthenticated)
        {
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].IsRef)
            </th>
            <th></th>
        }

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        @if (User.Identity.IsAuthenticated)
        { 
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRef)
            </td>

        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
            <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
        </td>
            }
        </tr>
}
    </tbody>
</table>
